.filters{
    &__wrapper{
        display: flex;
        justify-content: start;
        column-gap: 50px;
        padding: 30px 50px;
        @media (max-width: 876px){
            flex-direction: column;
            text-align-last: left;
        }
        @media (max-width: 400px){
            padding: 30px 10px;
        }
    }
    &__title{
        text-align: center;
    }
    &__subgroup{
        &-wrapper{
            display: flex;
            justify-content: space-between;
            @media (max-width: 876px){
                justify-content: flex-start;
                column-gap: 25px;
                margin-bottom: 15px;
            }
        }
        &-item{
            margin-top: 10px;
            cursor: pointer;
        }
    }
    &__choosen{
        margin-bottom: 15px;
    }
    .btn_active{
        border: 2px solid #000;
    }
}