@import '../../variables.scss';

.filters{
    &__wrapper{
        display: flex;
        justify-content: start;
        column-gap: 50px;
        padding: 30px 50px;
        @media (max-width: 876px){
            flex-direction: column;
            text-align-last: left;
        }
        @media (max-width: 400px){
            padding: 30px 10px;
        }
    }
    &__title{
        text-align: center;
    }
    &__subgroup{
        &-wrapper{
            display: flex;
            justify-content: space-between;
            @media (max-width: 876px){
                justify-content: flex-start;
                column-gap: 25px;
                margin-bottom: 15px;
            }
        }
        &-item{
            margin-top: 10px;
            background-color: $main-bg;
            border: none;
            min-width: 30px;
            min-height: 30px;
            cursor: pointer;
        }
    }
    &__choosen{
        margin-bottom: 15px;
        &-wrapper{
            margin-top: 10px;
            background-color: $grey-bg;
            min-height: 30px;
            border-radius: 5px;
            padding-left: 10px;
            font-size: 15px;
        }
        &-item{
            min-height: 30px;
            font-size: 15px;
        }
    }
    &__checkbox{
        min-width: 30px;
        min-height: 30px;
        margin-left: 0;
        margin-top: 10px;
    }
    .btn_active{
        border: 2px solid #000;
    }
}